{{#if question.answers}}
    {{#paper-subheader}}Answers (sorted by highest scoring first){{/paper-subheader}}

    {{#paper-list}}
      {{#each sortedAnswers as |answer|}}
        {{#paper-item class="md-3-line"}}

          <div class="score">
            <p><span class="number">{{answer.score}}</span><br>points</p>
          </div>
          <div class="md-list-item-text">
            <h3>{{answer.reply}}</h3>
            <p><em>Posted by {{answer.user}} on {{answer.date}}</em></p>
          </div>
        {{/paper-item}}
        {{paper-divider inset=true}}
      {{/each}}
    {{/paper-list}}
  {{else}}
      {{#paper-subheader class="md-no-sticky"}}No one has answered this question yet.{{/paper-subheader}}
  {{/if}}
