{{#if updateAnswerForm}}
  <h4>Edit Answer:</h4>
  <div>
    <form>

      <div class="form-group">
        <label for="user">User</label>
        {{input type="text" value=user class="form-control" id="user" placeholder=answer.user}}
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        {{textarea type="date" value=date class="form-control" id="date" placeholder=answer.date}}
      </div>

      <div class="form-group">
        <label for="reply">Answer</label>
        {{input type="text" value=reply class="form-control" id="reply" placeholder=answer.reply}}
      </div>

      <button class="btn btn-sm btn-success" {{action 'updateAnswer' question}}>Save Changes</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-sm btn-warning" {{action 'updateAnswerForm'}}>Edit</button>
{{/if}}
