{{#if newQuestionForm}}
  <h4>New Question:</h4>

  <div>
    <form>

      <div class="form-group">
        <label for="question">Question</label>
        {{input type="text" value=title class="form-control" id="title" placeholder=question.title}}
      </div>

      <div class="form-group">
        <label for="note">Question Details</label>
        {{textarea type="text" value=note class="form-control" id="note" placeholder=question.note}}
      </div>

      <div class="form-group">
        <label for="user">User</label>
        {{input type="text" value=user class="form-control" id="user" placeholder=question.user}}
      </div>

      <div class="form-group">
        <label for="question">Date</label>
        {{input type="date" value=date class="form-control" id="date" placeholder=question.date}}
      </div>


      <button {{action 'saveQuestion'}}>Save</button>
    </form>
  </div>

{{else}}
  <button class="btn btn-sm btn-default" {{action 'newQuestionForm'}}>Ask a Question</button>
{{/if}}
