{{#paper-item class="md-3-line" param=question action="goToQuestion"}}
  {{paper-icon 'question-answer' size=2}}
  <div class="md-list-item-text">
    <h3>{{question.title}}</h3>
    <h4>Asked by: <i>{{question.user}}</i> on {{question.date}}</h4>
    <p>{{answerCount}}</p>
  </div>
  {{paper-divider}}
{{/paper-item}}
